body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}body {
  font-family: Arial, sans-serif;
  margin: 25px;
}

h1 {
  color: #4CAF50;
}

button {
  margin: 5px 0;
  padding: 10px 15px;
  font-size: 1rem;
}